# ==========================================
# Flutter iOS Runner - Git Ignore
# ==========================================

# CocoaPods
Pods/
.symlinks/

# Flutter Generated Artifacts
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/flutter_export_environment.sh
Flutter/flutter_assets/
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*
